body {
  background-color: #25274D;
  color: #FEFFFF;
  font-family: 'Noto Sans', sans-serif;
}

.wrapper {
  width: 60%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
  font-family: 'Crete Round', serif;
}

#img-div {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

#image {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #AAABB8;
}

#img-caption {
  padding: 2rem;
  font-size: 2rem;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main h2 {
  padding: 2rem;
  font-size: 2rem;
}

li {
  padding: 0.5rem;
}

.book-title {
  font-style: italic;
  color: white;
}

a:visited {
  color: #ccc;
}

a:hover {
  color: #abaa11;
}

footer {
  padding: 2rem;
  font-size: 1.2rem;
}
