h1, h2, p, #img-caption, a {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
}

#main {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

#title {
    background-color: #3F51B5;
    color: #ffffff;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-flow: column wrap;
}

.title, .subtitle {
    min-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    height: 8rem;
    position: relative;
    top: 1rem;
}

.subtitle {
    height: 4rem;
    text-transform: uppercase;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img-div img {
    max-width: 100%;
}

#img-caption {
    padding: 1rem 0;
}
